div.content {
  width:800px;
  margin-top:60px;  
  margin-left:auto;
  margin-right:auto;
}
.divOutlineTitle {
    margin-bottom:20px;
}
div.menubar {
    padding:8px;
}
input.title {

}